<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title></title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- jQuery compiled and minified v3.2.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Fonts -->
		
		<!-- Main styles -->
		<link rel="stylesheet" href="{% static 'portfolio/css/portfolio_styles.css' %}">
	</head>
	<body>		
		<h1>Testimonials</h1>		
		<div id="testimonial1">
			<h3>From Walter Hightower</h3>
			<p>"All I can say is WOW. Hire this guy right now!"</p>
		</div>		
		<div id="testimonial2">
			<h3>From Betty Blackstone</h3>			
			<p>"No mere professional software dev. In fact after working with Lars<br>I'd say he is the supreme grand master jedi chief of all code"</p>		
		</div>
		<h3><a href="{% url 'home' %}">Home</a></h3>				
	</body>
</html>