<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title>Login or Register</title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- jQuery compiled and minified v3.2.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Fonts -->
		
		<!-- Main styles -->
		<link rel="stylesheet" href="{% static 'books/css/styles.css' %}">
	</head>
	<body>
		<div class="container">
			<section class="row">
				<div class="col-lg-8">
					<a href="{% url 'books:home' %}">home</a>
					<a href="{% url 'users:logout' %}">logout</a>
				</div>
			</section>
			<section class="row">
				<div class="col-lg-8">
					<h1>Add a New Book Title and Review</h1>
					<form action="{% url 'books:addBookReview' %}" method="post" class="form-horizontal">
					{% csrf_token %}
						<section class="form-group">
							<label for="title" class="col-sm-4 control-label">Book Title:</label>
							<div class="col-sm-8">
								<input type="text" name="title" id="title" class="form-control">
							</div>
						</section>
						<!-- author -->
						<section class="form-group">
							<label class="col-sm-4 control-label">Author:</label>
						</section>
						<section class="form-group">
							<label class="col-sm-4 control-label">Choose an author:</label>
							<div class="col-sm-8">
								<select name="authorSelect" class="form-control">
									<option value="select">Select</option>
									{% for author in allAuthors %}
									<option value="{{ author.name }}">{{ author.name }}</option>
									{% endfor %}
								</select>
							</div>
						</section>
						<section class="form-group">							
							<label for="author" class="col-sm-4 control-label">Or add a new author:</label>
							<div class="col-sm-8">
								<input type="text" name="authorInput" id="author" class="form-control">
							</div>
						</section>						
						<section class="form-group">
							<label class="col-sm-4 control-label">Write Your Review:</label>
							<div class="col-sm-8">								
								<textarea name="review" class="form-control" cols="4" placeholder="Your Review"></textarea>		
							</div>
						</section>
						<section class="form-group">
						<label class="col-sm-4 control-label">Rating:</label>
							<div class="col-sm-3">
								<input type="number" name="stars" min="1" max="5"> Stars
							</div>
						</section>
						<section class="form-group">
							<div class="col-sm-offset-4">
								<button type="submit" class="btn btn-sm btn-success">Submit</button>		
							</div>
						</section>						
					</form>
				</div>
			</section>
		</div>
	</body>
</html>