<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title>Login or Register</title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- jQuery compiled and minified v3.2.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Fonts -->
		
		<!-- Main styles -->
		<link rel="stylesheet" href="{% static 'books/css/styles.css' %}">
	</head>
	<body>
		<div class="container">
			<section class="row">
				<div class="col-lg-8">
					<a href="{% url 'books:home' %}">Home</a>
					<a href="{% url 'books:newBook' %}">Add New Book and Review</a>
					<a href="{% url 'users:index' %}">Logout</a>
				</div>
			</section>
			<section class="row">
				<div class="col-lg-8">				
					<!-- for user in all users -->
					<!-- match session user to userDB id=id object -->
					<h4>User Alias:</h4>
					<p>Name:</p>
					<p>Email:</p>
					<p>Total Reviews:</p>
					<br>
					<h3>Posted Reviews on the Following Books:</h3>
					<!-- display books user has reviewed -->
				</div>				
			</section>
		</div>
	</body>
</html>