* {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 3.4em;
	color: #008040;
	font-family: 'Palanquin Dark', sans-serif;
	text-align: center;
	letter-spacing: 0.01em;
}
h6 {
	color: #999999;
	margin-bottom: 20px;
}
.push-down {
	margin-bottom: 20px;
}
/* put button in nested column for proper responsive design */
#button {
	margin-left: 383px;
}
#fail-msg {
	color: #E20000;
	font-size: 1.5em;
}