<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ninjas</title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<!-- Fonts  -->
		<link href="https://fonts.googleapis.com/css?family=Bangers" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Contrail+One" rel="stylesheet">	
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ninja_style.css') }}">
	</head>
	<body>
		<div>
			<h1>Ninjas</h1>
		</div>
		<div></div>
		
		<main id="container">
			<section class="ninja-container">
				<p>The word ninja in Kanji, is spelled thusly:</p>
				<img src="../static/images/Ninja-kanji.svg" id="ninja-script-img" alt="ninja script">
			</section>
			
			<section class="ninja-container">
				<p>Even talking turtles can be ninjas</p>
				<img src="../static/images/raphael.jpg" id="raphael" alt="raphael">
			</section>
			
			<section class="ninja-container">
				<p>Coding Dojo produces many outstanding</p>
				<img src="../static/images/code_ninja.png" id="code-ninja" alt="code ninja">
			</section>
		</main>
		
	</body>
</html>