<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title></title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<link rel="stylesheet" href="{% static 'portfolio/css/portfolio_styles.css' %}">
	</head>
	<body>		
		<h1>Testimonials</h1>		
		<div id="testimonial1">
			<p>"All I can say is WOW. Hire this guy right now!"</p>
		</div>		
		<div id="testimonial2">			
			<p>"No mere professional software dev. In fact after working with Lars<br>I'd say he is the supreme grand master jedi chief of all code"</p>		
		</div>				
	</body>
</html>