<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title>Home Page</title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
		
		<!-- jQuery compiled and minified v3.2.1 -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
		<!-- Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Londrina+Outline|Amatic+SC:700" rel="stylesheet">
		<!-- Main styles -->
		<link rel="stylesheet" href="{% static 'logReg/css/styles.css' %}">
	</head>
	<body>
		<div class="container">
			<section class="row">
				<div class="col-lg-6">
					<h1>Welcome {{request.session.user.firstName}}</h1>
					<!-- logout form -->
					<form action="{% url 'logReg:logout' %}" method="get">
						{% csrf_token %}
						<section class="form-group">
							<button type="submit" class="btn btn-sm btn-default btn-style">Logout</button>
						</section>
					</form>
					<!-- post new secret form -->
					<form action="{% url 'secrets:newSecret' %}" method="post">
						{% csrf_token %}
						<section class="form-group">
							<textarea class="form-control" name="newSecret" cols="5" placeholder="Your filthy little secret goes here"></textarea>
							<button type="submit" class="btn btn-sm btn-default">Post</button>
						</section>	
					</form>
					<!-- most popular link -->
					<h5><a href="{% url 'secrets:popular' %}">Most Popular</a></h5>
					{% if messages %}
						{% for message in messages %}
							<p class="red">{{ message }}</p>
						{% endfor %}	
					{% endif %}
				</div>
			</section>
			<!-- Display Recent Posts -->
			<section class="row">
				<div class="col-lg-8">
					<h2>Recent Secrets</h2>	
					<!-- add if messages -->
					{% for secret in allSecrets %}
						<p>{{ secret.secret }} (<em>{{ secret.createdAt | timesince }} ago</em>) {{ secret.secretLike.count }} Likes
						<!-- Has user already liked a post, can like if not -->
						{% if currentUser in secret.getLikeAuthor %}
							<span id="heart" class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>
							 You liked this
						{% else %}
							<a href="{% url 'secrets:like' 'home' secret.id %}">Like</a>
						{% endif %}
						<!-- Did user author post, if yes can delete --> 
						{% if secret.author.id == request.session.user.id %}
							<a href="{% url 'secrets:delete' 'home' secret.id %}">Delete </a>You posted this
						{% endif %}
						</p>
					{% endfor %}
				</div>
			</section>
		</div>
	</body>
</html>