* {
	padding: 0;
	margin: 0;
}
h1 {
	font-size: 2.5em;
	color: #008040;
	font-family: 'Palanquin Dark', sans-serif;
	/*text-align: center;*/
}
#bold {
	font-weight: 500;
}
.push-down {
	margin-bottom: 15px;
}
p {
	font-size: 1.1em;
}