* {
	padding: 0;
	margin: 0;
}
#container {
	width: 600px;
	height: 500px;
	margin: 0 auto;
	background-color: #E6E6E6;
}
h1 {
	color: #FF7C00;
	font-size: 5em;
	text-align: center;
	padding-top: 10px;
	font-family: 'Fugaz One', cursive;
}
h3 {
	text-align: center;
}
form {
	display: inline-block;
	margin-left: 265px;
}
.button {
	padding: 10px;
	border-style: none;
	border-radius: 10px;
	color: #00A800;
	font-weight: 500;
	font-size: 1.1em;
	margin-top: 10px;
}
