* {
	padding: 0;
	margin: 0;
}
#container {
	width: 650px;
	margin: 25px auto;
}
h1 {
	font-family: 'Rubik Mono One', sans-serif;
	color: #E20000;
	font-size: 2.5em;
	outline: 5px dashed #E9CF00;
	text-align: center;
}