h1 {
	color: #008000;
	font-size: 3em;
}
img {
	width: 1000px;
	height: auto;
}
.red {
	color: #6666FF;
	font-weight: 600;
}
.btn-style {
	padding: 5px;
	margin-bottom: 15px;
	background-color: #B3B3B3;
	border-radius: 5px;
	font-size: 1em;
}