<!DOCTYPE html>
<html lang="en">
	<head>
		{% load staticfiles %}
		<title></title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<link rel="stylesheet" href="#">
		<script type="text/javascript" src="{% static 'hello_world/js/hello_world.js' %}"></script>
	</head>
	<body>
		
		<h1>Hello World!</h1>
		<h2>So you want to be a Django Ranger?</h2>
		
		<p>I also linked a JavaScript file from my static folder and printed "Hello World" to the JS console in the browswer as well.</p>
		<p>Saying Hello to <em>all</em> the consoles.</p>
	</body>
</html>