<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>learning flexbox</title>
		<link rel="stylesheet" href="flexbox-009.css">
	</head>
	<body>
		<div class="container">
			<div class="box box1">one 🌋</div>
			<div class="box box2">two 💣</div>
			<div class="box box3">three 🚀</div>
			<div class="box box4">four 🥓</div>
			<div class="box box5">five 🔥</div>
			<div class="box box6">six 🍄</div>

			<!-- <div class="box box7">7</div>
			<div class="box box8">8</div>
			<div class="box box9">9</div>
			<div class="box box10">10</div> -->
		</div>
	</body>
</html>
