h1 {
	color: #970000;
	font-family: 'Righteous', cursive;
	font-size: 2.75em;
	margin: 65px 0 30px 0;
	letter-spacing: 0.01em;
}
#userLabel {
	font-size: 1.2em;
	padding-top: 4px;
}
#sub-btn {
	margin: 15px 0 0 9px;
}
.error {
	color: #BD0003;
}
.success {
	color: #159E18;
}
.btn-pad {
	margin-bottom: 15px;
}