<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Ninja Gold</title>
		<meta charset="utf-8">
		<meta name="#" content="#">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<div id="wrapper">
			<div>
				<p class="header pushright">Your Gold</p>
				<p class="header" id="goldtotal">{{ session['gold'] }}</p>
				<form action="/reset" method="get" class="header">
					<button type="submit" name="reset" id="reset-btn" class="btn-style">Clear</button>
				</form>
			</div>
			<!-- FARM -->
			<section id="farm" class="containers pushright">
				<h3>Farm</h3>
				<p>(earn 10-20 golds)</p>
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="farm">
					<button type="submit" class="btn-style">Find Gold!</button>
				</form>
			</section>
			<!-- CAVE -->
			<section id="cave" class="containers">
				<h3>Cave</h3>
				<p>(earn 5-10 golds)</p>
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="cave">
					<button type="submit" class="btn-style">Find Gold!</button>
				</form>
			</section>
			<!-- HOUSE -->
			<section id="house" class="containers">
				<h3>House</h3>
				<p>(earn 2-5 golds)</p>
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="house">
					<button type="submit" class="btn-style">Find Gold!</button>
				</form>
			</section>
			<!-- CASINO -->
			<section id="casino" class="containers">
				<h3>Casino</h3>
				<p>(earns/takes 0-50 golds)</p>
				<form action="/process_money" method="post">
					<input type="hidden" name="building" value="casino">
					<button type="submit" class="btn-style">Find Gold!</button>
				</form>
			</section>
			<!-- ACTIVITY -->
			<p class="pushright">Activities</p>
			<div id="activityBox">
				{% with messages = get_flashed_messages() %}
					{% if messages %}
						{% for message in messages %}
							<p class="fail-msg">{{ message }}</p>
						{% endfor %}
					{% endif %}
				{% endwith %}
				{% autoescape false %}
				{% for log in session['game_log'] %}
					<p>{{ log }}</p> 
				{% endfor %}
				{% endautoescape %}
			</div>
		</div>
	</body>
</html>